---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3//activities/505114540?access_token=76d702a1cb0bcd86e7a85a8dde8f06c891edbd62
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"0493e03da524c7645d11f035cb2b8a8f"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '4,159'
    body:
      encoding: ASCII-8BIT
      string: '{"id":505114540,"resource_state":3,"external_id":"2016-02-28T17:38:22Z","upload_id":556936270,"athlete":{"id":13541251,"resource_state":1},"name":"Morning
        Run","distance":6993.8,"moving_time":2911,"elapsed_time":4584,"total_elevation_gain":461.1,"type":"Run","start_date":"2016-02-28T17:38:22Z","start_date_local":"2016-02-28T10:38:22Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.999133,-105.290421],"end_latlng":[40.004933,-105.293079],"location_city":null,"location_state":null,"location_country":"","start_latitude":39.999133,"start_longitude":-105.290421,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":2,"photo_count":0,"map":{"id":"a505114540","polyline":"qicsFdpsaSF?RMTAXEJG`@MN?HFb@|@l@bAh@fAZXDJ?ZB|@Xp@Nt@AlBF`@?JMb@CVBPAt@EXK\\?n@IFKb@]^QXOhAY`@CXMl@GVGHQr@CJUJI^JV^JN?THLJFT@VBfBDZIz@B^G^X|@BTCRJ\\@P?NIHBLAJ_@^KTC`@J`@Tj@PNDG?BJ?DNA^BHEZIJCRLPGTCT@FGP@B?JG?MLAP@JAFZr@NlAT^PDTLj@H?FEFKFYFGJZ?NFDJRLb@@PLBJRLDNAPLn@?XDR?x@GVDJCh@DFPBr@TRANLIXIHo@b@Yd@ONINQF[Bc@LI@g@KKDOl@DRTJTPb@dAPR@RDPFdALZDZVx@BNc@bAW\\DLTZFNRXDZAL@RHRJj@LHJAZs@Lk@HO\\Yv@a@h@Ej@SNYLIn@BDCBGn@J^@ZCx@?PCPE`@ARCPId@]t@w@JG^g@h@g@Vs@PQJUr@YDS?SF]j@u@HWLQhA}@|Bm@QBSL}A~AgLzMsBb@_@?m@MSMKC]Vu@O[P]\\g@Fo@Bs@f@SPs@`BEHKFe@yAWg@[_AL][yCEsAGSA]KSEYUk@MMUMQQG[Cm@PIb@DZSXITAf@aANSTQRCROJYMIo@Iw@AMOL{AIw@?q@G_@GMUUMO_@WGIu@s@MEUDGEJM\\ALUMEo@Ia@WUgAOc@Ei@@KJKJAIKFa@Rg@CKII@CTm@Do@OAEKGLY]Ss@Ca@Bg@\\]@Y?g@IYBo@CO[e@Ay@BmAFU@YFIA}@Gm@QU[GQIUU@g@LQFCP[Ry@JSJOH_@JCZsAVq@RYPeAD_@Lo@RgCBGAc@E_@CEw@i@aAaAk@_AeA{AQOw@c@_@Yy@eA]Qe@E{@YWMIS_@Gy@?o@Zw@lAUXWNmA\\YLe@Xq@f@QP_@`@Yh@g@VKDmA@[CgA[S?]JSNW`@[xBMJQ@m@QcBBYGGEG]IYWc@CvAZHd@FV@nAG^F","resource_state":3,"summary_polyline":"qicsFdpsaSrCc@jEpL[fKgEfLhBfBb@vKw@jClArCm@vEtC~Ds@j@rCjAPfGnBl@wGpEbDhJw@pB|@pCn@fA|FiFjIWlJiMfEkBkPlQuHJ_HhFyAaE]}HiBqEbGyDcCe@CeFuDoCv@e@eCsCt@qGoAsBNgO}AkBrD{Jp@oJoK{K{F{AiMvJoFKuAvD}DSq@aBCvAhER"},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"g1261218","average_speed":2.403,"max_speed":19.9,"average_heartrate":162.6,"max_heartrate":179.0,"elev_high":2121.2,"elev_low":1743.5,"total_photo_count":0,"has_kudoed":false,"workout_type":null,"description":null,"calories":884.4,"segment_efforts":[{"id":12135952534,"resource_state":2,"name":"Gregory
        Canyon to Green Mountain Lodge","activity":{"id":505114540,"resource_state":1},"athlete":{"id":13541251,"resource_state":1},"elapsed_time":1270,"moving_time":1259,"start_date":"2016-02-28T17:43:08Z","start_date_local":"2016-02-28T10:43:08Z","distance":2266.1,"start_index":46,"end_index":358,"average_heartrate":167.3,"max_heartrate":178.0,"segment":{"id":1240584,"resource_state":2,"name":"Gregory
        Canyon to Green Mountain Lodge","activity_type":"Run","distance":2105.9,"average_grade":12.8,"maximum_grade":116.1,"elevation_high":2047.6,"elevation_low":1777.6,"start_latlng":[39.9974569,-105.2927827],"end_latlng":[39.9936044,-105.3081648],"start_latitude":39.9974569,"start_longitude":-105.2927827,"end_latitude":39.9936044,"end_longitude":-105.3081648,"climb_category":2,"city":"Boulder","state":"CO","country":"United
        States","private":false,"hazardous":false,"starred":false},"kom_rank":null,"pr_rank":null,"achievements":[],"hidden":false},{"id":12135952523,"resource_state":2,"name":"Flagstaff
        Rd Climb","activity":{"id":505114540,"resource_state":1},"athlete":{"id":13541251,"resource_state":1},"elapsed_time":166,"moving_time":166,"start_date":"2016-02-28T17:50:09Z","start_date_local":"2016-02-28T10:50:09Z","distance":216.3,"start_index":158,"end_index":196,"average_heartrate":171.5,"max_heartrate":175.0,"segment":{"id":2693007,"resource_state":2,"name":"Flagstaff
        Rd Climb","activity_type":"Run","distance":39[...]
