---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athletes/13541251/stats?access_token=76d702a1cb0bcd86e7a85a8dde8f06c891edbd62
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - 76d702a1cb0bcd86e7a85a8dde8f06c891edbd62
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"754f9c5b31cf8b65908fb7d05817488f"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '64,272'
    body:
      encoding: ASCII-8BIT
      string: '{"biggest_ride_distance":50239.3,"biggest_climb_elevation_gain":99.80000000000018,"recent_ride_totals":{"count":5,"distance":86574.0,"moving_time":12752,"elapsed_time":89693,"elevation_gain":302.5009479522705,"achievement_count":17},"recent_run_totals":{"count":14,"distance":204083.27813720703,"moving_time":39975,"elapsed_time":43877,"elevation_gain":1319.7612590789795,"achievement_count":74},"recent_swim_totals":{"count":0,"distance":0.0,"moving_time":0,"elapsed_time":0,"elevation_gain":0.0,"achievement_count":0},"ytd_ride_totals":{"count":5,"distance":86574,"moving_time":12752,"elapsed_time":89693,"elevation_gain":301},"ytd_run_totals":{"count":19,"distance":242775,"moving_time":51462,"elapsed_time":57619,"elevation_gain":2240},"ytd_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"all_ride_totals":{"count":5,"distance":86574,"moving_time":12752,"elapsed_time":89693,"elevation_gain":301},"all_run_totals":{"count":20,"distance":285224,"moving_time":62854,"elapsed_time":69058,"elevation_gain":2310},"all_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0}}'
  recorded_at: Thu, 24 Mar 2016 03:58:34 GMT
[...]
- request:
    method: get
    uri: https://www.strava.com/api/v3//athlete/activities?access_token=76d702a1cb0bcd86e7a85a8dde8f06c891edbd62
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"46cbaf869a33b2844cb8dfb3b2323246"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - cd96034f3403e9f6f125faa26338d9b9
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '68,276'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":525147057,"resource_state":2,"external_id":null,"upload_id":null,"athlete":{"id":13541251,"resource_state":1},"name":"Evening
        Run","distance":86904.6,"moving_time":3600,"elapsed_time":3600,"total_elevation_gain":0.0,"type":"Run","start_date":"2016-03-24T02:30:00Z","start_date_local":"2016-03-23T20:30:00Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":null,"end_latlng":null,"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":null,"start_longitude":null,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a525147057","summary_polyline":null,"resource_state":2},"trainer":false,"commute":false,"manual":true,"private":false,"flagged":false,"gear_id":"g1315506","average_speed":24.14,"max_speed":0.0,"has_heartrate":false,"total_photo_count":0,"has_kudoed":false,"workout_type":null},{"id":525142306,"resource_state":2,"external_id":null,"upload_id":null,"athlete":{"id":13541251,"resource_state":1},"name":"Evening
        Run","distance":0.0,"moving_time":3600,"elapsed_time":3600,"total_elevation_gain":0.0,"type":"Run","start_date":"2016-03-24T02:10:00Z","start_date_local":"2016-03-23T20:10:00Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":null,"end_latlng":null,"location_city":null,"location_state":null,"location_country":"United
        States","star[...]
