---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athletes/13541251/stats?access_token=76d702a1cb0bcd86e7a85a8dde8f06c891edbd62
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - 76d702a1cb0bcd86e7a85a8dde8f06c891edbd62
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"5967ee322d1ba9b98e2b199ae9bd5989"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '9,236'
    body:
      encoding: ASCII-8BIT
      string: '{"biggest_ride_distance":10343.1,"biggest_climb_elevation_gain":null,"recent_ride_totals":{"count":1,"distance":10343.099609375,"moving_time":2172,"elapsed_time":35904,"elevation_gain":30.426666259765625,"achievement_count":0},"recent_run_totals":{"count":9,"distance":58114.80059814453,"moving_time":17630,"elapsed_time":22035,"elevation_gain":1418.2085704803467,"achievement_count":48},"recent_swim_totals":{"count":0,"distance":0.0,"moving_time":0,"elapsed_time":0,"elevation_gain":0.0,"achievement_count":0},"ytd_ride_totals":{"count":1,"distance":10343,"moving_time":2172,"elapsed_time":35904,"elevation_gain":30},"ytd_run_totals":{"count":9,"distance":58115,"moving_time":17630,"elapsed_time":22035,"elevation_gain":1419},"ytd_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"all_ride_totals":{"count":1,"distance":10343,"moving_time":2172,"elapsed_time":35904,"elevation_gain":30},"all_run_totals":{"count":9,"distance":58115,"moving_time":17630,"elapsed_time":22035,"elevation_gain":1419},"all_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0}}'
  recorded_at: Tue, 01 Mar 2016 21:47:33 GMT
[...]
