---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3//athlete/activities?access_token=76d702a1cb0bcd86e7a85a8dde8f06c891edbd62
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"83c3fc106adf1d0ead873c779f110ee5"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - 1cf1168504915c23d755b3fca68ae6dd
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '1,13'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":505114539,"resource_state":2,"external_id":"2016-02-29T00:05:42Z","upload_id":556936277,"athlete":{"id":13541251,"resource_state":1},"name":"Afternoon
        Run","distance":5826.7,"moving_time":1483,"elapsed_time":1722,"total_elevation_gain":18.2,"type":"Run","start_date":"2016-02-29T00:05:44Z","start_date_local":"2016-02-28T17:05:44Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.692556,-104.983673],"end_latlng":[39.692744,-104.983906],"location_city":null,"location_state":null,"location_country":"","start_latitude":39.692556,"start_longitude":-104.983673,"achievement_count":11,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a505114539","summary_polyline":"mmgqF~rw_SyAUMcEYm{AuGO_AbFyeA@gF`EhBxSjuAz@Dx|@v@lB","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"g1261218","average_speed":3.929,"max_speed":5.3,"average_heartrate":174.2,"max_heartrate":185.0,"elev_high":1625.3,"elev_low":1603.7,"total_photo_count":0,"has_kudoed":false,"workout_type":null},{"id":505114529,"resource_state":2,"external_id":"2016-02-28T18:54:55Z","upload_id":556936271,"athlete":{"id":13541251,"resource_state":1},"name":"Lunch
        Run","distance":647.7,"moving_time":136,"elapsed_time":140,"total_elevation_gain":0.0,"type":"Run","start_date":"2016-02-28T18:54:56Z","start_date_local":"2016-02-28T11:54:56Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[40.004742,-105.293177],"end_latlng":[39.999925,-105.290537],"location_city":null,"location_s[...]
