---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athletes/13541251/stats?access_token=76d702a1cb0bcd86e7a85a8dde8f06c891edbd62
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - 76d702a1cb0bcd86e7a85a8dde8f06c891edbd62
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"0299c6eb7657a428299bd240346d7e39"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '103,2692'
    body:
      encoding: ASCII-8BIT
      string: '{"biggest_ride_distance":11705.6,"biggest_climb_elevation_gain":99.80000000000018,"recent_ride_totals":{"count":2,"distance":22048.69921875,"moving_time":4009,"elapsed_time":80177,"elevation_gain":60.66666603088379,"achievement_count":9},"recent_run_totals":{"count":11,"distance":73199.30108642578,"moving_time":21714,"elapsed_time":26859,"elevation_gain":1454.861904144287,"achievement_count":63},"recent_swim_totals":{"count":0,"distance":0.0,"moving_time":0,"elapsed_time":0,"elevation_gain":0.0,"achievement_count":0},"ytd_ride_totals":{"count":2,"distance":22049,"moving_time":4009,"elapsed_time":80177,"elevation_gain":60},"ytd_run_totals":{"count":11,"distance":73199,"moving_time":21714,"elapsed_time":26859,"elevation_gain":1455},"ytd_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"all_ride_totals":{"count":2,"distance":22049,"moving_time":4009,"elapsed_time":80177,"elevation_gain":60},"all_run_totals":{"count":12,"distance":115648,"moving_time":33106,"elapsed_time":38298,"elevation_gain":1525},"all_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0}}'
  recorded_at: Thu, 03 Mar 2016 21:34:40 GMT
[...]
