---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3//activities/509570036?access_token=76d702a1cb0bcd86e7a85a8dde8f06c891edbd62
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"a84208514ab8aefb2663109f34cbbda7"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '42,147'
    body:
      encoding: ASCII-8BIT
      string: '{"id":509570036,"resource_state":3,"external_id":"2016-03-05T20:35:10Z","upload_id":561426759,"athlete":{"id":13541251,"resource_state":1},"name":"Triple
        Crown","distance":21603.1,"moving_time":5948,"elapsed_time":6137,"total_elevation_gain":107.3,"type":"Run","start_date":"2016-03-05T20:35:10Z","start_date_local":"2016-03-05T13:35:10Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.692479,-104.984029],"end_latlng":[39.692677,-104.983928],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.692479,"start_longitude":-104.984029,"achievement_count":9,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a509570036","polyline":"}lgqFduw_S]@u@EEACYCsADoDB_AEgD?cCEoA?{DJgCCi@?qBHkECM]o@Ca@HyBCgA@m@AqIEi@Oa@YS]Ha@V_@Lg@BiAEi@Mu@C{BH}@@oAHeB?oAWe@AoBVY@UOk@B{AMcCDcADYAqCDwBE[GSNuBDoBA}BCy@?kBEm@Be@Hc@@yBBa@AaAIyBWwAHa@GMSOa@Ig@QS]G}@Ha@@y@AoBHsBA_@B_@CgADYCkC?aAMe@@sCGyA@wBHoAA{ADe@NYRYFYIQLId@URYD_@A}@DyDJ_BCa@H_ADoAPy@@]Fc@AcBQu@Cc@GgBe@WWSKYEaHEY@yBGw@BaB?_DDsBGmDCYCYBuBByBAkAJ]@k@EyADmDCMYGwC_@]kFAGYI{BAg@C_@AcAEq@HmDI{B?}@VG`@Lf@l@^HVOX[PYVq@H[DqA?kAH_ACsDEyAF{CI[Q_@UUk@K_@C}@?{@Dg@Aa@L{AF{A_@o@EYE_@?c@@[HoBj@{@B[?m@[...]
