---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athletes/13541251/stats?access_token=76d702a1cb0bcd86e7a85a8dde8f06c891edbd62
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - 76d702a1cb0bcd86e7a85a8dde8f06c891edbd62
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"174e9686e18bca514b908a27e5c2fcdb"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '62,534'
    body:
      encoding: ASCII-8BIT
      string: '{"biggest_ride_distance":11705.6,"biggest_climb_elevation_gain":99.80000000000018,"recent_ride_totals":{"count":4,"distance":36334.69921875,"moving_time":6249,"elapsed_time":82511,"elevation_gain":86.12666511535645,"achievement_count":17},"recent_run_totals":{"count":12,"distance":94802.40069580078,"moving_time":27662,"elapsed_time":32996,"elevation_gain":1562.161907196045,"achievement_count":72},"recent_swim_totals":{"count":0,"distance":0.0,"moving_time":0,"elapsed_time":0,"elevation_gain":0.0,"achievement_count":0},"ytd_ride_totals":{"count":4,"distance":36335,"moving_time":6249,"elapsed_time":82511,"elevation_gain":85},"ytd_run_totals":{"count":12,"distance":94802,"moving_time":27662,"elapsed_time":32996,"elevation_gain":1562},"ytd_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"all_ride_totals":{"count":4,"distance":36335,"moving_time":6249,"elapsed_time":82511,"elevation_gain":85},"all_run_totals":{"count":13,"distance":137251,"moving_time":39054,"elapsed_time":44435,"elevation_gain":1632},"all_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0}}'
  recorded_at: Thu, 10 Mar 2016 02:26:29 GMT
[...]
- request:
    method: get
    uri: https://www.strava.com/api/v3//athlete/activities?access_token=76d702a1cb0bcd86e7a85a8dde8f06c891edbd62
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"882578fe558ca91cc1eb35f0c74719db"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - 3dc2e1e56bc3596175692f1798d339ac
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '66,538'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":509570036,"resource_state":2,"external_id":"2016-03-05T20:35:10Z","upload_id":561426759,"athlete":{"id":13541251,"resource_state":1},"name":"Triple
        Crown","distance":21603.1,"moving_time":5948,"elapsed_time":6137,"total_elevation_gain":107.3,"type":"Run","start_date":"2016-03-05T20:35:10Z","start_date_local":"2016-03-05T13:35:10Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.692479,-104.984029],"end_latlng":[39.692677,-104.983928],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.692479,"start_longitude":-104.984029,"achievement_count":9,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a509570036","summary_polyline":"}lgqFduw_S}A_@Jkj@oAaWwiAv@wIa@wAyBg\\?_e@vDoKoBsu@Au@oEkFAW}EG}M`C|@dBsCLgSq@qAmd@N{C~BW~Dch@Vs@ud@a@sCmBn@a@yBb@{mBsj@s@e@bmAjBdd@fb@tAd@x\\|FB~AtFph@TT~Ora@Yp@|CtFZn@hRfAt@pvAbAnBcCdi@C[wObD{D|hAUh@qEvFOp@`Ak@dD|@|nARbMp@L","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"g1261218","average_speed":3.632,"max_speed":6.5,"average_heartrate":166.6,"max_heartrate":177.0,"elev_high":1639.5,"elev_low":1600.1,"total_photo_count":0,"has_kudoed":false,"workout_type":null},{"id":509569998,"resource_state":2,"external_id":"2016-03-04T22:19:00Z","upload_id":561426733,"athlete":{"id":13541251,"resource_state":1},"name":"Wash
        Park Loop","distance":6582.8,"moving_time":1077,"elapsed_time":1171,"total_elevation_gain":25.5,"type":"Ride","start_date":"2016-03-04T22:19:02Z","start_date_local":"2016-03-04T15:19:02Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.7424,-104.99807],"end_latlng":[39.692472,-104.983793],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.7424,"start_longitude":-104.99807,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a509569998","summary_polyline":"_eqqF|lz_St`@sM~p@_c@vPoX|SuUpK{TflDhBJxZnBJ","resource_state":2},"trainer":false,"commute":true,"manual":false,"private":false,"flagged":false,"gear_id":"b2647226","average_speed":6.112,"max_speed":8.0,"average_watts":88.3,"kilojoules":95.1,"device_watts":false,"elev_high":1615.6,"elev_low":1589.0,"total_photo_count":0,"has_kudoed":false,"workout_type":12},{"id":509569988,"resource_state":2,"external_id":"2016-03-04T15:23:08Z","upload_id":561426726,"athlete":{"id":13541251,"resource_state":1},"name":"Turing
        Commute","distance":7703.2,"moving_time":1163,"elapsed_time":1163,"total_elevation_gain":0.0,"type":"Ride","start_date":"2016-03-04T15:23:09Z","start_date_local":"2016-03-04T08:23:09Z","timezone":"(GMT-07:00)
        America/Denver","s[...]
