<nav>
  <div class="nav-wrapper green-background titillium">
    <a href="/" class="brand-logo">PAINCAVER</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/workouts">View Workouts</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>