<div class="col s8 custom-padding">
  <h4 class="titillium center black-text grey-shadow">Upcoming Races & Goals
    <%= link_to new_user_race_path do %>
      <i class="small material-icons black-text">add</i>
    <% end %>
  </h4>

  <hr> 

  <h6 class="center">Keep your registered races and training goals in one place.</h6>
  
  <h5 class="titillium center black-text grey-shadow">Add a Race or Goal
    <%= link_to new_user_race_path do %>
      <i class="small material-icons black-text">add</i>
    <% end %>
  </h5>
  <div class="center">
    <%= link_to image_tag("BibRave.jpg", id: "bibrave", class: "center"), "http://www.bibrave.com/", :target => "_blank" %>
  </div>
  <%= render partial: "trails" %>
</div>
