<%= render partial: "/navbar/navbar" %> 
<div class="row background-color">
  <%= render partial: "left_dashboard" %>
  <%= render partial: "center_dashboard" %>
  <%= render partial: "right_dashboard" %>
</div>



