<%= javascript_tag do %>
  function trailMap() {
    
    var map_options = {
      center: new google.maps.LatLng(<%= @service.start_latitude(@activity) %>, <%= @service.start_longitude(@activity) %>),
      zoom: 10,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      panControl: false,
      mapTypeControl: false,
      zoomControlOptions: { position: google.maps.ControlPosition.LEFT_CENTER }
    };
     
    var map = new google.maps.Map(document.getElementById("google-map"), map_options);


      var routePath = new google.maps.Polyline({
        path: polylineSummary,
        geodesic: true,
        strokeColor: "#64eb06",
        strokeWeight: 4,
        map: map
      });
    

    var polylineSummary = "<%= @service.polyline(@activity) %>"
    poly.setPath(polylineSummary);
  };
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc2JdFlUn8iGRg0wvRVHw78wpJvo0hFuM&callback=trailMap"
async defer></script>

<div id="map">
  <div id="google-map" style="width: 800px; height: 400px; position: absolute;"></div>
</div>