
<%= render partial: "/navbar/navbar" %> 
<div class="row background-color">
  <%= render partial: "index_left" %>
  <%= render partial: "index_center" %>
  <%= render partial: "index_right" %>
</div>