<%= render partial: "/navbar/navbar" %> 
  
  <div class="row background-color">
    <%= render partial: "show_left" %> 

    <div class="col s10 custom-padding">
      <%= render partial: "workout_snapshot" %> 
      <%= render partial: "workout_difficulty" %> 
    </div>
    
  </div>