/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/*Universal*/
/* line 19, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.titillium {
  font-family: 'Titillium Web', sans-serif;
}

/* line 24, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.btn {
  color: black;
  background-color: #A9B184;
  font-family: 'Titillium Web', sans-serif;
}

/* line 30, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.btn:hover, .btn-large:hover {
  background-color: #FC4C02;
  color: white;
}

/* line 35, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.btn-lg {
  font-size: 1.75em;
}

/* line 39, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.grey-shadow {
  text-shadow: 1.5px 1.5px white;
}

/* line 43, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.dirt-texture {
  background-image: url(/assets/dirt-7598c5c21cd463acc08e35ef794400e1f2f387bb7d300037c07a9f77001c7194.jpg);
  background-size: cover;
}

/*Forms*/
/* line 50, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
label {
  font-size: 1.2em;
}

/* line 54, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
input {
  font-size: 1.5em;
  color: white;
}

/* line 59, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.grey-font {
  color: #9E9E9E;
}

/*Navbar*/
/* line 64, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.green-background {
  background-color: #A9B184;
}

/* line 68, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
nav .brand-logo {
  font-size: 2.75em;
  text-shadow: 1.5px 1.5 px black;
  padding: 0 30px;
}

/* line 75, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
nav ul a {
  font-size: 1.8em;
  text-shadow: 0 1px black;
}

/* line 80, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.edit_user_race {
  margin-top: 25px;
}

/* line 84, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.new_user_race {
  margin-top: 25px;
}

/*Home Root Page*/
/* line 90, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.anton {
  background-image: url(/assets/Anton-0aaedde6601c298dd31410c3570fa56051f36ad73399bd5708c9554af5115c95.jpg);
  background-size: cover;
  height: 100vh;
}

/* line 96, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.opaque {
  background-color: black;
  height: 100vh;
  width: auto;
  opacity: 0.6;
}

/* line 104, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
#home-description {
  font-size: 2em;
}

/*Dashboard*/
/* line 112, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.profile-pic {
  height: 100px;
  width: auto;
}

/* line 117, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.dashboard-large {
  font-size: 1.5em;
}

/* line 121, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
#bibrave {
  margin-top: 5%;
  max-height: 20em;
  border-radius: 50px;
}

/* line 127, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.collapsible-header {
  background-color: #F3F3F3;
  background-repeat: repeat-y;
}

/*show*/
/* line 135, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
div.col.s10.custom-padding {
  padding-right: 5rem;
  padding-left: 1rem;
}

/* line 140, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
tbody tr td span {
  font-size: 1.35em;
}

/* line 144, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
#range {
  font-size: 0.7em;
}

/* line 148, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.background-color {
  background-color: #F3F3F3;
}

/* line 152, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
#google-map {
  height: 500px;
  width: 400px;
  text-align: center;
}

/* line 158, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.space {
  height: 50px;
}
