/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/*Universal*/
/* line 19, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.titillium {
  font-family: 'Titillium Web', sans-serif;
}

/* line 23, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.btn {
  color: black;
  background-color: #A9B184;
  font-family: 'Titillium Web', sans-serif;
}

/* line 29, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.btn-lg {
  font-size: 1.75em;
}

/*Navbar*/
/* line 34, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.green-background {
  background-color: #A9B184;
}

/* line 38, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
nav .brand-logo {
  font-size: 2.75em;
  text-shadow: 1px 1px black;
  padding: 0 30px;
}

/* line 44, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
nav ul a {
  font-size: 1.4em;
  text-shadow: 0 1px black;
}

/*Home Root Page*/
/* line 51, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.anton {
  background-image: url(/assets/Anton-0aaedde6601c298dd31410c3570fa56051f36ad73399bd5708c9554af5115c95.jpg);
  background-size: cover;
  height: 100vh;
}

/* line 57, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.opaque {
  background-color: black;
  height: 100vh;
  width: auto;
  opacity: 0.6;
}

/* line 65, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
#home-description {
  font-size: 2em;
}

/*Dashboard*/
/* line 70, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.profile-pic {
  height: 100px;
  width: auto;
}

/* line 75, /Users/StevePentler/3projects/pain_caver/app/assets/stylesheets/application.scss */
.dashboard-large {
  font-size: 1.5em;
}
