/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Universal*/
.titillium {
  font-family: 'Titillium Web', sans-serif;
}

.btn {
  color: black;
  background-color: #A9B184;
  font-family: 'Titillium Web', sans-serif;
}

.btn-lg {
  font-size: 1.75em;
}

.grey-shadow {
  text-shadow: 1.5px 1.5px white;
}

.dirt-texture {
  background-image: image-url("dirt.jpg");
  background-size: cover;
}

/*Forms*/

label {
  font-size: 1.2em;
}

input {
  font-size: 1.5em;
  color: white;
}

.grey-font {
  color: #9E9E9E;
}

/*Navbar*/
.green-background {
  background-color: #A9B184;
}

nav .brand-logo {
  font-size: 2.75em;
  text-shadow: 1.5px 1.5
  px black;
  padding: 0 30px;
}

nav ul a {
  font-size: 1.8em;
  text-shadow: 0 1px black; 
}

.edit_user_race {
  margin-top: 25px;
 }

.new_user_race {
  margin-top: 25px;
 }

/*Home Root Page*/

.anton {
  background-image: image-url("Anton.jpg");
  background-size: cover;
  height: 100vh;
 }

.opaque {
  background-color: black;
  height: 100vh;
  width: auto;
  opacity: 0.6;
 }


#home-description {
  font-size: 2em;
}


/*Dashboard*/


.profile-pic {
  height: 100px;
  width: auto;
}

.dashboard-large {
  font-size: 1.5em;
}

#bibrave {
  margin-top: 5%;
  max-height: 20em;
  border-radius: 50px;
}

.collapsible-header {
  background-color: #F3F3F3;
}


/*show*/

div.col.s10.custom-padding { 
  padding-right: 5rem;
  padding-left: 1rem;
}

tbody tr td span {
  font-size: 1.35em;
}

#range {
  font-size: 0.7em;
}

.background-color {
  background-color: #F3F3F3;
 }

#map_canvas {
  height: 400px;
  width: 400px;
  position: absolute;
}

#map {
  height: 400px;
  width: 400px;
  position: absolute;
}











